exportPattern("^[[:alpha:]]+")
importFrom(dplyr, "%>%")
importFrom("graphics", "boxplot", "hist")
importFrom(tidyr, "gather")
importFrom(stats, "cor", "median")
importFrom(utils, "data")
importFrom(DescTools, "Mode")

export(impute_missing_values)
export(detect_outliers)
export(visualize_data)
export(interactive_heatmap)
